<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .name {
        color: orange;
      }
    </style>
  </head>
  <body>
    <!-- Mustache syntax -->
    <!-- Task: name must be orange in color -->
    <h1>Hello, {{name}} 😊</h1>
    <h2>You are super nice, <span class="name">{{name}}</span></h2>
    <!-- Task 1.2: List all hobbies - ul -->
    <ul>
      {% for hobby in hobbies %}
      <li>{{ hobby }}</li>
      {% endfor %}
    </ul>
  </body>
</html>
